<div class="relative mt-10 flex w-full -translate-y-1/2 items-center gap-3">
  @if (me.isPending()) {
    <span class="w-full text-center text-white">Loading...</span>
  } @else {
    <div class="h-12 min-h-12 w-12 min-w-12 rounded-full">
      <img src="assets/images/profile.png" alt="" />
    </div>
    <div class="min-w-0 grow">
      <div class="flex w-full max-w-full flex-col overflow-hidden">
        @if (name().length > 16) {
          <span class="text-base font-bold text-white">{{
            name() | firstWord
          }}</span>
        } @else {
          <span class="text-lg font-bold text-white">{{ name() }}</span>
        }
        <span class="text-xs font-semibold">Free</span>
      </div>
    </div>
    <div>
      <button class="h-4 w-4" (click)="logout()">
        <img src="assets/images/logout.png" />
      </button>
    </div>
  }
</div>
