<app-layout title="Detalhe do álbum" (refreshData)="handleRefreshData()">
  @if (!album.isPending()) {
    <app-album-detail
      [album]="albumData()!"
      [albumTracksCount]="albumTracksCount()"
    />
  }
  <app-music-player [tracks]="albumTracks()" />
  <app-data-info
    [isLoading]="album.isPending()"
    [total]="albumTracksCount()"
    [filteredCount]="albumTracksFilteredCount()"
    [selectedCount]="albumTracksFilteredSelectedCount()"
  />
  <app-selection-filter-toolbar
    [(textFilter)]="textFilter"
    [isAllSelected]="isAllSelected()"
    (toggleAll)="toggleSelectAllFiltered()"
  />

  <app-album-table
    class="flex min-h-0 grow flex-col"
    [isLoading]="album.isFetching()"
    [albumTracks]="albumTracksFiltered()"
  />
</app-layout>
